<p>Hallo {{ vorname }} {{ nachname }},</p>

<p>Sie haben einen Link zum Zurücksetzen Ihres Passworts angefordert.</p>

<p>Um Ihr Passwort zurückzusetzen, klicken Sie auf den folgenden Link:</p>

<p><a href="{{ link }}">{{ link }}</a></p>

<p>Der Link ist nur für die nächsten {{ tokenDauer }} Minuten gültig.</p>

<p>Wenn Sie den Link nicht angefordert haben, ignorieren Sie diese E-Mail.</p>

<p>Diese E-Mail wurde automatisch generiert. Bitte antworten Sie nicht darauf.</p>

<p>Mit freundlichen Grüßen<br>

DZS | Digitales ZeiterfassungsSystem</p>
