<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}DZS{% endblock %}</title>

    <link rel="shortcut icon" href="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 33 34'%3e%3cpath d='M3 27.472c0 4.409 6.18 5.552 13.5 5.552 7.281 0 13.5-1.103 13.5-5.513s-6.179-5.552-13.5-5.552c-7.281 0-13.5 1.103-13.5 5.513z' fill='%23435ebe'/%3e%3ccircle cx='16.5' cy='8.8' r='8.8' fill='%2341bbdd'/%3e%3c/svg%3e">

    <link rel="stylesheet" crossorigin href="{{ asset('assets/compiled/css/app.css') }}">
    <link rel="stylesheet" crossorigin href="{{ asset('assets/compiled/css/iconly.css') }}">
    <link rel="stylesheet" crossorigin href="{{ asset('assets/compiled/css/custom-public.css') }}">

    {% block stylesheets %}{% endblock %}
</head>

<body>

<div class="grid-container">

    {# ================= HEADER ================= #}
    <div class="row-top bg-white d-flex justify-content-center align-items-center pt-6 pb-6">
        <h3 class="m-0 fs-1">
                DZS |
                <span class="font-color-ds-red">D</span>igitales
                <span class="font-color-ds-red">Z</span>eiterfassungs
                <span class="font-color-ds-red">S</span>ystem
        </h3>
    </div>

    {# ================= CONTENT ================= #}
    <div class="row-center bg-white d-flex justify-content-center align-items-center">
        <div class="public-content">
            {% block body %}{% endblock %}
        </div>
    </div>

    {# ================= FOOTER ================= #}
    <div class="row-bottom bg-white d-flex justify-content-center align-items-center gap-4 footer-ds">
        <p class="fs-7 font-color-ds-red m-0 p-0">
            2024-{{ "now"|date("Y") }} Beispiel GmbH
        </p>
        <p class="fs-7 font-color-ds-red m-0 p-0">
            <a href="{{ path('impressum') }}">Impressum</a>
        </p>
        <p class="fs-7 font-color-ds-red m-0 p-0">
            <a href="{{ path('datenschutz') }}">Datenschutz</a>
        </p>
    </div>

</div>

{% block javascripts %}{% endblock %}
</body>
</html>
