<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DZS - Digitales Zeiterfassungssystem{% endblock %}</title>


    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
    <link rel="stylesheet" crossorigin href="{{ asset('assets/compiled/css/app.css') }}">
    <link rel="stylesheet" crossorigin href="{{ asset('assets/compiled/css/custom.css') }}">
    <link rel="stylesheet" crossorigin href="{{ asset('assets/compiled/css/iconly.css') }}">
</head>

<body class="d-flex flex-column min-vh-100">
    <script src="assets/static/js/initTheme.js"></script>
    <div id="app" class="d-flex flex-grow-1">
        <div id="sidebar">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header position-relative">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="logo">
                            <a href="/start"><image src="{{ asset('images/dzs-logo.png') }}" alt="DZS-Logo" class="img-fluid"></a>
                        </div>
                        <div class="sidebar-toggler x">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-item {% if app.request.get('_route') == 'start' %} active {% endif %}">
                            <a href="{{ path('start') }}" class='sidebar-link'><i class="bi bi-house-door"></i><span>Startseite</span></a>
                        </li>
                        <li class="sidebar-item {% if app.request.get('_route') == 'erfassung' %} active {% endif %}">
                            <a href="{{ path('erfassung') }}" class='sidebar-link'><i class="bi bi-pencil-square"></i><span>Erfassung</span></a>
                        </li>
                        <li class="sidebar-item {% if app.request.get('_route') == 'meine_uebersicht' %} active {% endif %}">
                            <a href="{{ path('meine_uebersicht') }}" class='sidebar-link'><i class="bi bi-table"></i><span>Meine Übersicht</span></a>
                        </li>

                        {% if is_granted('ROLE_PERSONALSACHBEARBEITUNG') %}
                        <li class="sidebar-item {% if app.request.get('_route') == 'personalverwaltung' %} active {% endif %}">
                            <a href="{{ path('personalverwaltung') }}" class="sidebar-link"> <i class="bi bi-kanban"></i><span>Personalverwaltung</span></a>
                        </li>
                        {% endif %}

                        {% if is_granted('ROLE_PROJEKTSACHBEARBEITUNG') %}
                        <li class="sidebar-item {% if app.request.get('_route') == 'projektverwaltung' %} active {% endif %}">
                            <a href="{{ path('projektverwaltung') }}" class="sidebar-link"> <i class="bi bi-kanban"></i><span>Projektverwaltung</span></a>
                        </li>
                        {% endif %}

                        <li class="sidebar-item {% if app.request.get('_route') == 'meine_daten_anzeigen' %} active {% endif %}">
                            <a href="{{ path('meine_daten_anzeigen') }}" class='sidebar-link'><i class="bi bi-person-vcard"></i><span>Meine Daten</span></a>
                        </li>
                        <li class="sidebar-item {% if app.request.get('_route') == 'hilfe' %} active {% endif %}">
                            <a href="{{ path('hilfe') }}" class='sidebar-link'><i class="bi bi-info-circle"></i><span>Hilfe</span></a>
                        </li>
                        <li class="sidebar-item sidebar-item-user">
    <div class="sidebar-user-info">
        Sie sind angemeldet als:<br>
        <span class="font-color-dsred">{{ app.user.vorname }} {{ app.user.nachname }}</span>
    </div>
</li>

                        <li class="sidebar-item sidebar-logout-btn">
                            <a href="{{ path('abmeldung') }}" class='sidebar-link'>
                                <i class="bi bi-box-arrow-left fw-normal"></i><span>Abmelden</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="main" class="flex-fill d-flex flex-column flex-grow-1">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading text-center">
                <h3 class="heading">DZS | <span class="font-color-ds-red">D</span>igitales <span class="font-color-ds-red">Z</span>eiterfassungs<span class="font-color-ds-red">S</span>ystem</h3>
            </div>
            <div class="page-content flex-grow-1">
                {% block body %}{% endblock %}
            </div>

        </div>
    </div>
    <footer class="mt-auto text-center py-3 w-100">
            <div class="footer clearfix mb-0 text-muted text-center">
    <div class="d-flex justify-content-center gap-4 flex-wrap small">
        <p><span class="font-color-dsred">2024-2026 Beispiel GmbH</span></p>
        <p><a href="/impressum"><span class="font-color-dsred">Impressum</span></a></p>
        <p><a href="/datenschutz"><span class="font-color-dsred">Datenschutz</span></a></p>
    </div>
</div>
        </footer>
    <script src="assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/compiled/js/app.js"></script>
    <script src="assets/static/js/pages/dashboard.js"></script>
</body>

</html>
